{% extends "shop/basic.html" %}

{% block title %} About Us {% endblock %}




{% block body %}





<body>
    <section >
      <div class="container">
        <div class="row">
	  <div class="col-sm-7">
            <br>
            <h1 class="text-center" style="margin-bottom: 45px">Smart Sophomores</h1>
	    <p style="margin-bottom: 25px"><h5>Ministry Name</h5>Ministry of Tribals Affairs</p>
            <p style="margin-bottom: 25px"><h5>Problem Statement</h5>E –Marketplace (Like Amazon, flipkart) wherein tribals can promote,
               market and sell tribal produce such as handicrafts, arts, paintings,
               minor forest products etc. on line with provision of delivery and 
               e-payment and promotional discounts.</p>
            <p style="margin-bottom: 25px"><h5>Our Team</h5><b>Rohan Gupta</b>(Leader)(Python Developer)<br>
                                   Gurvind Singh(Mobile App Developer)<br>
				   Shubhdeep Singh Rajput(Web Developer)<br>
				   Munna Kumar(Java Developer)<br>
				   Akshay Kumar(Javascript Developer)<br>
				   Rounak Soni(Java Developer)</p>
	
	  </div>
	  <div class="col-sm-5">
	    <div style="width: 100%">
	      <img src="https://pbs.twimg.com/profile_images/598245445454925824/r591FpnJ.jpg" style="width: 50%;padding: 10px;border-radius: 50%;box-shadow: 0 0 10px #999999" />
	  </div>
        </div>
      </div>
    </section>
  </body>


{% endblock %}