{% extends "shop/basic.html" %}

{% block title %} Cart {% endblock %}

{% block body %}

<style>
    .dis {
        /* display:table; */
        line-height: 0;
    }

    .mt-5,
    .my-5 {
        margin-top: 7rem !important;
    }
</style>

<div class="container col-md-12 row" id="x">
    <div class="mt-3 col-md-9">
        <div>
            <div>
                <h3>Shoping Cart</h3>
            </div>
            <div class="row" style=font-size:15px>
                <div class="col-md-9">
                </div>
                <div class="col-md-2 dis">
                    Price
                </div>
                <div class="col-md-1 dis">
                    Quantity
                </div>
            </div>
            <hr>
        </div>
        <div id="main_div">
            <!-- {% for prd in product|slice:"0:" %} -->
            <div class="row">
                <div class="col-md-2">
                    <img src="#">
                </div>
                <div class="col-md-7">
                    <h5>Title</h5>
                    <p>description</p>
                    <a href="#" style=font-size:15px>Delete</a>
                </div>
                <div class="col-md-2">
                    <h5>Price</h5>
                </div>
                <div class="dropdown col-md-1">
                    <select class="btn btn-light btn-sm" id="qnty">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <hr>
            <!-- {%endfor%} -->
        </div>

    </div>

    <div class="card col-md-3 mt-5" style="width: 18rem;">
        <div class="card-header mt-2 mb-2">
            <h5>Cart Total - Rs.<span id="totalprice">0</span> </h5>
            <h6>Total Items - <span id='itemtotal'>0</span> </h6>
            <button type="button" class="btn btn-success btn-block">Proceed to Buy</button>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    var cartvalue = JSON.parse(localStorage.getItem('cartvalue'));
    document.getElementById('itemtotal').innerHTML = Object.keys(cart).length;
    var ttlprc=0
    len = Object.keys(cart).length;
    
    if (Object.keys(cart).length == 0) {
        html = `<h3>Sorry! Cart is empty</h3>
        <a class="nav-link float-right" href="/shop"><button type="button" class="btn btn-primary">Shop Now</button></a>`
        document.getElementById('x').innerHTML = html;
    }
    else {
        for (key in cart) {
            ttlprc = ttlprc + cart[key] * (Number(cartvalue[key][3].slice(3)))
            html = ` <div class="row">
        <div class="col-md-2">
            <img src="${cartvalue[key][0]}" width=125 height=125>
        </div>
        <div class="col-md-7">
            <h5>${cartvalue[key][1]}</h5>
            <p>${cartvalue[key][2]}</p>
            <a href="#" style=font-size:15px>Remove</a>
       </div>
       <div class="col-md-2">
           <h5>${cartvalue[key][3]}</h5>
       </div>
       <div class="dropdown col-md-1">
            <select class="btn btn-light btn-sm" id="qnty">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            </select>
        </div>
    </div>
    <hr>`;
            document.getElementById('main_div').innerHTML += html;
        }
    document.getElementById('totalprice').innerHTML = ttlprc;
    }
</script>

{% endblock %}
