{% extends "shop/basic.html" %}

{% block title %} {{ product.product_name }} {% endblock %}

{% block body %}

<style>
    .col-md-4 img {
        max-height: 300px;
        width: 217px;
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 ">
            <a href="/shop/product/{{product.id}}"><img src="/media/{{ product.image }}"></img></a>
            <div>
                <button id="bt{{product.id}}" class="btn btn-primary mt-3" onclick="addr(this.id)">Add to Cart</button>
                <button id="bt{{product.id}}" class="btn btn-primary mt-3 ml-3">Buy Now</button>
            </div>
            <!-- <p>{{ product.brief_desc }}</p> -->
        </div>

        <div class="col-md-8">
            <h2>{{ product.product_name }}</h2>
            <h6>Rs.{{ product.price }}</h6>
            <p>{{ product.full_desc }}</p>
        </div>
    </div>
</div>
{% endblock %}
